{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if not show_archived %}
        <li>
            <a href="{% url 'admin:job-archived' %}" class="viewlink">
                View Archived Jobs ({{ archived_count }})
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'admin:authentication_job_changelist' %}" class="viewlink">
                View Active Jobs
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %} 